/**
 * PALLETTE
 *
 * Gray:	#B0B9CE;
 * Pink:	#FF8080;
 * Teal:	#008080;
 * Blue:	#206080;
 * Purple:	#602080;
 * Dark:	#282828;
 * Sand:	#D2CAB9;
 *
 */

html {
	height: 100%;
	margin: 0;
	padding: 0;
	}
	
body {
	color: #333;
	font-family: "Lucida Grande", "Lucida Sans", Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	}

h1 {
	font-family: "Crimson Text", "Merriweather", "Hoefler Text", Baskerville, Georgia, "Palatino Linotype", Garamond, "Times New Roman", serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 0;
	}

a {
	border-bottom: 1px solid #206080;
	color: #206080;
	text-decoration: none;
	}

#top {
	background: #d74a4a;
	border-bottom: 2px solid #FF8080;
	height: 1px;
	position: fixed;
	width: 100%;
	z-index: 5;
	}

header {
	height: 100%;
	position: fixed;
	width: 20%;
	z-index: 10;
	}
	
	#logo {
		padding: 0 20% 0 0;
		text-align: right;
		}
	
	#old {
		background: #333;
		border: 1px solid #000;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
		-moz-box-shadow: inset 0 1px 0 0 #777, 0 0 10px #66d9ff; -webkit-box-shadow: inset 0 1px 0 0 #777, 0 0 10px #66d9ff; box-shadow: inset 0 1px 0 0 #777, 0 0 10px #66d9ff;
		float: right;
		height: 75px;
		width: 60px;
		}
	
	#box {
		background-color: #1F6CBC;
		background-image: -moz-linear-gradient(100% 100% 90deg, #013F80, #41A0FF );
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#41A0FF), to(#013F80));
		-moz-box-shadow: 0 1px 10px #999; -webkit-box-shadow: 0 1px 10px #999; box-shadow: 0 1px 10px #999;
		-mox-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
		color: #282828;
		float: right;
		font: normal bold 48px Arial, Verdana, Tahoma, sans-serif;
		font-variant: small-caps;
		height: 65px;
		letter-spacing: -2px;
		margin: 0 0 0 0;
		padding: 10px 5px 0 0;
		text-align: center;
		text-shadow: 1px 1px 1px #0987DE, -1px -1px 1px #000;
		width: 70px;
		}
	
	#drop {
		background-color: #1F6CBC;
		background-image: -moz-linear-gradient(100% 100% 90deg, #013F80, #41A0FF );
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2e8bb8), to(#206080));
		border: 1px solid #013F80;
		border-top: none;
		-moz-box-shadow: 0 1px 10px #999; -webkit-box-shadow: 0 0 10px #BCEFFF; box-shadow: 0 0 15px #5bd7ff, inset -1px -1px 0 #93c9ff, inset 1px 0 0 #93c9ff;
		-mox-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
		color: #282828;
		float: right;
		font-size: 48px;
		font-weight: bold;
		height: 65px;
		padding: 55px 10px 0 0;
		text-shadow: 1px 1px 1px #57b8f9, -1px -1px 1px #000;
		width: 75px;
		}
		
		#drop:hover {
			padding-top: 57px;
			margin-bottom: -2px;
		}

	/*#drop:after {
		background: none;
		content:'';
		border-radius: 6px 0 0 0;
		border-radius: 6px 0 0 0;
		border: 1px solid #000;
		border-width: 1px 0 0 1px;
		width: 6px;
		height: 6px;
		display: block;
		position: absolute;
		margin: -112px 0 0 85px;
		}
	*/
	
	#pb {
		color: #fff;		
		font-size: 42px;
		padding: 30px 7px 0 0;
		text-shadow: 0 1px 0 #000;
		}
	
nav {
	padding: 50px 20% 0 0;
	text-align: right;
	}
	
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		}

	nav ul li {
		padding: 0 0 7px 0;
		}
	
	nav a {
		border: none;
		text-shadow: 0 1px 0 #eee;
		}
		
#main {
	margin: 0 0 0 20%;
	}

	#main #lead, #main article { width: 80%; max-width: 900px; }

	#main #lead {
		/*border-top: 5px solid #1f6cbc;*/
		padding: 42px 0 35px 0;
		text-shadow: 0 1px 0 #D2CAB9;
		}

	#main article {
		padding: 0 0 20px;
		}

	#main article p {
		line-height: 1.7em;
		margin: 0;
		padding: 0 0 15px;
		}

	#main article h2 {
		font-size: 24px;
		margin: 5px 0 15px;
		text-shadow: 0 1px 0 #D2CAB9;
		text-transform: uppercase;
		}
	
	#main article h2.green { color: #008080; }
	#main article h2.purple { color: #602080; }

.clear { clear: both; }
.serif { font-family: "Crimson Text", "Merriweather", "Hoefler Text", Baskerville, Georgia, "Palatino Linotype", Garamond, "Times New Roman", serif; }
.end { font-weight: bold; }